@font-face {
  font-family: 'Limelight';
  src: url('/assets/fonts/Limelight-Regular.ttf') format('truetype');
}
nav {
    background-color: black;
    height: 75px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 30px;
    font-family: "Limelight", sans-serif;
    
    display: flex;
    align-items: center;        /* vertical centering */
    justify-content: left;    /* horizontal centering */
    
}

.container {
    display: flex;
    flex-direction: row;
}

.left-section {
    width: 175px;
    background-color: rgb(183, 183, 183);
    border-radius: 5px;
}

.middle-section {
    width: 400px;
    background-color: rgb(161, 160, 160);
    border-radius: 5px;
    
}

.right-section {
    flex: 1;
    background-color: rgb(161, 160, 160);
    border-radius: 5px;
}


.nav-container {
    display: flex;
    flex-direction: row;         /* Side by side, not column */
    justify-content: flex-start; /* Push to left */
    align-items: center;         /* Center vertically */
    height: 75px;
    background-color: black;
    color: aliceblue;
    padding: 0 20px;            /* Add some padding */
}

.left-navsection {
  width: 175px;
    
}

.addexpense-navsection {
   
}


.category-list {
    list-style: none;
    padding: 5px;
}

.category-list:hover {
    background-color: rgb(255, 255, 255);
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    width: 120px;          /* Fixed width for all labels */
    text-align: right;     /* Right-align text */
    padding-right: 10px;   /* Space between label and input */
}

.form-input {
    width: 150px;              /* Input takes remaining space */
}

