<nav class="nav-container"> 
  <div class="left-navsection">
  Expenses
  </div>

  <div class="addexpense-navsection" (click)="addForm()" >
    Add Expense
    
  </div>


</nav>


<div class="container">
  <div class="left-section">
    <h3>Catagories</h3>
    <ul>
      <li class="category-list" *ngFor="let cat of categories" (click)="selectCategory(cat)">
        {{cat}}
      </li>
    </ul>
  </div>

  <div class="middle-section">
<app-add-expense-form 
  *ngIf="showAddForm"
  (expenseAdded)="onExpenseAdded($event)"
  (formCancelled)="onFormCancelled()">
</app-add-expense-form>
    
    <div *ngIf="!showAddForm">
      <h3>{{activecategory}}</h3>
      
      <ul *ngIf="activecategory == 'All Expenses'">
        <li class="category-list" style="list-style: none;" *ngFor="let item of expenses" (click)="itemDescription(item.itemid)">
          Item: {{item.name}} - Amount: ${{item.amount}}
        </li>
      </ul>
      
      <ul *ngIf="activecategory != 'All Categories'">
        <li class="category-list" style="list-style: none;" *ngFor="let item of filterCategory(activecategory)" (click)="itemDescription(item.itemid)">
          Item: {{item.name}} - Amount: ${{item.amount}}
        </li>
      </ul>
    </div>

    
  </div>

  <div class="right-section" *ngIf="activeItem != ''">
    <h3>Item Breakdown</h3>
      <ul  style="list-style: none;" *ngFor="let part of findItem(activeItem)">
        <li>
          Date: {{part.date}}
        </li>
        
        <li *ngIf="activecategory == 'All Expenses'">
          Category: {{part.category}}
        </li>

        <li>
          Description: {{part.description}}
        </li>
        
      </ul>

  </div>

</div>