<nav class="nav-container"> 
  <div class="left-navsection">
  Expenses
  </div>

  <div class="addexpense-navsection" (click)="test()" >
    Add Expense
    
  </div>


</nav>


<div class="container">
  <div class="left-section">
    <h3>Catagories</h3>
    <ul>
      <li *ngFor="let cat of categories" (click)="selectCategory(cat)">
        {{cat}}
      </li>
    </ul>
  </div>

  <div class="right-section">
    <div *ngIf="showAddForm">
      <h3>Add Form</h3>

      <div>
        <label>Amount:</label>
        <input type="number" [(ngModel)]="newExpense.amount"  placeholder="$0.00">
        
      </div>

      <div>
        <label>Date:</label>
        <input type="date" [(ngModel)]="newExpense.date">
      </div>

      <div>
        <label>Category</label>
        <select  [(ngModel)]="newExpense.category">
          <option *ngFor="let item of categoryOptions()">
            {{item}}
          </option>
        </select>
      </div>
      
      <div>
        <label>Description</label>
        <input type="text" [(ngModel)]="newExpense.description" placeholder="Optional">
      </div>

      <div>
        <button (click)="addExpense()">Add</button>
        <button>Cancel</button>
      </div>




    </div>
    
    <div *ngIf="!showAddForm">
      <h3>{{activecategory}}</h3>
      
      <ul *ngIf="activecategory == 'All Expenses'">
        <li *ngFor="let item of expenses">
          Amount: {{'$' + item.amount}}
        </li>
      </ul>
      
      <ul *ngIf="activecategory != 'All Categories'">
        <li *ngFor="let item of filterCategory(activecategory)">
          Amount: {{'$' + item.amount}}
        </li>
      </ul>
    </div>

    

  </div>

</div>